
 #card-1 { 
    grid-column: ;
    color: rgb(118, 60, 175);
    background-image: url(https://png.pngtree.com/png-clipart/20200701/original/pngtree-cute-cow-cartoon-illustration-png-image_5354746.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 1 / 4;
  }
  #card-2 {
    background-image: url(https://png.pngtree.com/png-clipart/20200225/original/pngtree-cute-ginger-cat-head-png-image_5304599.jpg);
    background-size: cover;
    background-position: center
  }
   
  #card-3 {
    background-image: url(https://png.pngtree.com/png-clipart/20190604/original/pngtree-pig-png-image_880044.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1 / 4;
    grid-row: 3 / 6;
  }
  #card-4 {
    background-image: url(https://png.pngtree.com/png-clipart/20190630/original/pngtree-cute-dog-soft-furry-dog-elements-png-image_4170149.jpg);
    background-size: cover;
    background-position: center;

  }
  #card-5 {
    background-image: url(https://images.app.goo.gl/Jm9XhkUj1Q1G2Jrr8);
    background-size: cover;
  }
  #card-6 {

  }
  #card-7 {

  }
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto, 20fr);
  grid-template-rows: 100px 100px 100px 100px 100px;
  background-color:aliceblue;
  padding: 10px;
  border: 10px;
gap: 1rem;
grid-auto-rows: 100px;
  font-family: courier

}